/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#container {
	width:900px;
	margin:0 auto;
}

#header {
	border-bottom:2px #45f solid;
	
}

#footer {
	border-top:2px #45f solid;
}

.box {
	
	
}

nav {
	border:2px #4af solid;
}
nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
nav ul li {
	float:left;
}

nav li a {
	padding:4px;
	display:block;
	background-color:#ddd;
}